:root {
  --blue_primary: #003479;
  --blue_azul10: #eaf2fd;
  --blue_azul100: #2a7ae4; 
  --blue_secondary: rgba(212, 228, 250,1);
  --blue_primary_hover: #015fda;
  --blue_img: #535353;
  --white_background: #F5F5F5;
  --white_footer: #EAF2FD;
  --white_100: #fff;
  --background_header: #000;  
  --erro: rgb(207, 10, 10);
  --enviar: rgb(0, 126, 0);
  --preto-100: #464646;
  --preto-30: #f3f2f2;
  --preto-50: #A2A2A2;
  
}