/* modo mobile */

.novoproduto {

    background-color: var(--white_background);
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
}

.novoproduto__titulo{
    color: var(--preto-100);
    font-family: Raleway;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.form__novoproduto__fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
}

.form__novoproduto__caixa {
    display: flex;
    padding-top: .5rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: .4375rem;
    align-self: stretch;
    border-bottom: 1px solid var(--preto-50);
    border-radius: 4px;
    background: var(--white_100);
}

.descricao {
    height: 5.125rem;
}

.label__nome {
    color: var(--preto-50 );
    font-family: 'Raleway';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    margin-bottom: .4375rem;
}

.labeldescricao {
    margin-top: .5rem;
}

.form__novoproduto__elemento {
    display: flex;
    flex-direction: column;
    padding: 0 0.75rem;
    align-items: flex-start;
}

.form__novoproduto__inputname{
    width: 19rem;
    border: none;
    margin-bottom: .5rem;
}

.form__novoproduto__inputname::-webkit-input-placeholder {
    color: var(--preto-100);
    font-family: 'Raleway';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; 
}

.form__novoproduto__inputname:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.novoproduto__botao {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: .625rem;
    align-self: stretch;
    background: var(--blue_azul100);
    color: var(--white_100);
    border: none;
}


/* modo tablet */
@media screen and (min-width: 768px) {
    .novoproduto {
        padding: 2rem;
    }

    .form__novoproduto__fields {
        width: 34.4375rem;
    }

    .inputs {
        width: 30rem;
    }

    .inputdescricao {
        width: 30rem;
        height: 3rem;
    }

}


/* modo lap-top */
@media screen and (min-width: 1024px) {

    

}


/* modo home */
@media screen and (min-width: 1040px) {
    .novoproduto {
        padding: 4rem;
    }

    .form__novoproduto__fields {
        width: 34.4375rem;
    }

}
