.main__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem ;
    align-items: center;
}

.produtos__titulo__nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    margin-bottom: 1rem;

}

.produtos__titulo__categoria {
    font-family: 'Raleway';
    font-size: 1.375rem;
    color: var(--preto-100);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn__produtos__titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    cursor: pointer;
}

.produtos__vertudo__texto {
    font-family: 'Raleway';
    font-size: .875rem;
    color: var(--blue_azul100);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.produtos__vertudo__seta {
    width: 1rem;
    height: 1rem;
}

/* responsivos
tablet */

@media screen and (min-width: 768px){

    .main__container {
        padding: 2rem;
        padding-bottom: 0;
    }

    .produtos__titulo__nav__dentro {
        margin-bottom: 1rem;
    }

    .produtos__vertudo__texto {
        font-size: 1rem;
    }

    .produtos__vertudo__seta {
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {


}

/* responsivo */

@media screen and (min-width: 1440px) {

    .produtos__titulo__nav {

       /* max-width: 1333px; */
       
    }

    .produtos__titulo__tipo {
       
    }

}
