.cards__produtos {
    display: flex;
    padding: .5rem;
    gap: 1rem;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: wrap;

    
}

.cards__produtos div:nth-child(5),
.cards__produtos div:nth-child(6) {
    display: none;
}