.banner {
    width: 100%;
    height: 12rem;
    background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.8)),url("../../image/banner.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;
}

.banner__titulo {
    display: flex;
    color: var(--white_100);
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: stretch;
    gap: .5rem;

}

.banner__texto {
    font-family: 'Raleway';
    font-size: 1.375rem;
    color: var(--white_100);
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.banner__texto1 {
    font-family: 'Raleway';
    font-size: 0.875rem;
    color: var(--white_100);
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.btn__banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .75rem 1rem;
    gap: .625rem;
    font-family: 'Raleway';
    font-size: .875rem;
    color: var(--white_100);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    background: var(--blue_azul100  );
}

@media screen and (min-width: 768px){

    .banner {
        height: 22rem;
        padding: 3rem;
    }


    .banner__titulo {
        padding: .5rem;
        gap: 1rem;
    }

    .banner__texto {
        font-size: 3.25rem;
    }

    .banner__texto1 {
        font-size: 1.375rem;
    }
}

@media screen and (min-width: 1024px) {

    .banner {
        padding-bottom: 24px;
    }
    .banner__titulo {
        margin-left: 1.5rem;
        margin-bottom: 0;
        gap: 1rem;
    }

}


@media screen and (min-width: 1440px){

    .banner {
        align-items: center;
        height: 22rem;
        padding: 2rem;
    }
    .banner__titulo {

        width: 74rem;
        gap: 1rem;
        margin-left: 95px;
        margin-bottom: .5rem;
    }

    .banner__texto {
        font-size: 3.25rem;
    }

    .banner__texto1 {
        font-size: 1.375rem;
    }
}