.banner {
    width: 100%;
    height: 11rem;
    background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.8)),url("../../image/banner.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    display: flex;
    flex-flow: column-reverse;
}

.banner__titulo {
    display: flex;
    flex-direction: column;
    color: var(--white_100);
    align-items: flex-start;
    justify-content: flex-end;
    margin: .8rem;
    gap: .3rem;
}

.banner__texto {
    margin: 0;
    font-size: 1.375rem;
    color: var(--white_100);
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.banner__texto1 {
    margin: 0;
    font-size: 0.875rem;
    color: var(--white_100);
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.btn__banner {
    padding: .75rem 1rem;
    font-size: .875rem;
    color: var(--white_100);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    background: var(--blue_azul100  );
    border: 0;
    transition: 0.4s;
    width: fit-content;
}

@media screen and (min-width: 768px){

    .banner {
        height: 19rem;
    }


    .banner__titulo {
        margin: 3rem;
        gap: 1rem;
    }

    .banner__texto {
        font-size: 3.25rem;
    }

    .banner__texto1 {
        font-size: 1.375rem;
    }
}

@media screen and (min-width: 1024px) {

    .banner__titulo {
        margin: 4.5rem;
        margin-bottom: 2rem;
        gap: 1rem;
    }

}


@media screen and (min-width: 1440px){

    .banner {
        align-items: center;
        height: 22rem;
    }
    .banner__titulo {

        width: 74rem;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .banner__texto {
        font-size: 3.25rem;
    }

    .banner__texto1 {
        font-size: 1.375rem;
    }
}