.footer-container {
    background-color:#eaf2fd;
}

.footer-ajuste-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    padding: 64px 32px;
}

.footer-lado-esquerdo {
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    gap: 16px 112px;
    min-width: 254px;
}
.footer-lado-esquerdo img {
    width: 176px;
    height: 50px;
}

.footer-ajuste-container nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.footer-ajuste-container nav li a {
    font-size: 16px;
    font-weight: 500;
    color: #464646;
}

.form-footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 560px;
}
.form-footer span {
    font-weight: 700;
    font-size:16px;
    color:#464646;
}

.input-nome {
    position: relative;
    width: 100%;
}
.input-nome input {
    padding: 28px 12px 7px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    width: 100%;
    color: #464646;
    caret-color: #464646;
    border-bottom: 1px solid #c8c8c8;
    height: 53px;
}

.input-nome label, .div-textarea label {
    position: absolute;
    top: 25px;
    left: 12px;
    pointer-events: none;
    transition:.15s;
    color: #a2a2a2;
}
.input-nome input:focus ~ label, 
.div-textarea textarea:focus ~ label,
.input-nome input:valid ~ label, 
.div-textarea textarea:valid ~ label  {
    transform:translateY(-20px);
    font-size:13px;
    color:#2a7ae4;
}

.div-textarea {
    position: relative;
    width: 100%;
}
.div-textarea textarea {
    height: 82px;
    width: 100%;
    padding: 28px 12px 7px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    color: #464646;
    caret-color: #464646;
    border-bottom: 1px solid #c8c8c8;
    resize: none;
    flex-grow: 1;
}

.form-footer button {
    align-self: flex-start;
    padding: 16px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    background-color: #2a7ae4;
    color: #fff;
}
.form-footer button:hover {
    background-color:#5595e9;
}

.creditos-desenvolvedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
}
.creditos-desenvolvedor span {
    font-size: 16px;
    font-weight: 500;
    color: #464646;
}

.icon {
    display:flex;
    align-items:center;
}
.github {
    height:35px;
}