.footer {
    background-color: var(--blue_azul10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 1rem;
    padding: 1rem;
}

 .footer__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    align-self: stretch;
}

.footer__esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    gap: 1rem;
}

.footer__logos {
    display: flex;
    width: 11rem;
    justify-content: center;
    align-items: center;
}

.footer__logo {
    width: 3.125rem;
    height: 3.1248rem;
}

.footer__logo__texto {
    width: 7.875rem;
    height: 1.156rem;
    flex-shrink: 0;
}

.footer__lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
}

.footer__lista__item {
    color: var(--preto-100);
    font-family: 'Raleway';
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form__footer__contato {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
    align-self: stretch;
}

.form__footer__title {
    color: var(--preto-100); 
    font-family: 'Raleway';   
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.form__footer__fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
}

.form__footer__caixa {
    display: flex;
    padding-top: .5rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: .4375rem;
    align-self: stretch;
    border-bottom: 1px solid var(--preto-30);
    border-radius: 4px;
    background: var(--white_100);
}

.label__nome {
    color: var(--preto-50 );
    font-family: 'Raleway';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    margin-bottom: .4375rem;
}

.form__footer__elemento {
    display: flex;
    flex-direction: column;
    padding: 0 0.75rem;
    align-items: flex-start;
}

.form__footer__inputname{
    width: 19rem;
    border: none;
}

.form__footer__inputname::-webkit-input-placeholder {
    color: var(--preto-100);
    font-family: 'Raleway';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; 
}

.form__footer__inputname:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.form__footer__input__mensagem {
    display: flex;
    height: 5.125rem;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
    align-self: stretch;
    border: none;
}

.form__footer__caixa__mensagem {
    display: flex;
    padding-top: 1rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    /* gap: 2.8125rem; */
    flex: 1 0 0;
    align-self: stretch;
    height: 5.125rem;
    border-radius: 4px;
    background: var(--white_100);
    border-bottom: 1px solid var(--preto-30);
}

.form__footer__inputmensagem {
    display: flex;
    padding: 0px 12px;
    align-items: center;
    height: 5.125rem;

    width: 19rem;
    border: none;
}

.form__footer__inputmensagem::-webkit-input-placeholder {
    color: var(--preto-50);
    font-family: 'Raleway';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; 
}

.form__footer__inputmensagem:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.btn__form__footer {
    color: var(--white_100);
    font-family: 'Raleway';
    font-size: .875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: var(--blue_azul100);
    display: flex;
    padding: .75rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
}

/* rodapé */
.rodape {
    background: var(--white_100);
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    gap: .625rem;
    align-self: stretch;
}

.rodape__nome__dev {
    color: var(--preto100);
    text-align: center;
    font-family: 'Raleway';
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    width: 234px;
}


@media screen and (min-width: 768px) {

    .footer {
        margin-top: 0;
        padding: 2rem;
    }

    .footer__container {
        margin: 0;
        flex-direction: row;
        padding: 0;
        gap: 1rem;
    }

    .footer__esquerda {
        align-items: self-start;
        width: 15.875rem;
    }

    .footer__lista {
        align-items: flex-start;
    }

    .form__footer__contato {
        width: 27.125rem;
    }

}

@media screen and (min-width: 1024px) {

    .footer {
        justify-content: center;
    }
    
    .footer__container {
        justify-content: space-around;
    }
}


@media screen and (min-width: 1440px) {
    

    .footer__esquerda {
        flex-direction: row;
        gap: 8rem;
    }

    .footer__lista {
        width: 176px;
        gap: 1.2rem;
        flex-shrink: 0;
    }
}
