.btn__adproduto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .625rem;
    padding: 0.75rem 1rem;
    font-family: 'Raleway';
    font-size: .875rem;
    font-style: normal;
    line-height: normal;
    color: var(--white_100);
    font-weight: 600;
    cursor: pointer;
    background: var(--blue_azul100);
    width: 10.25rem;
    height: 3.1875rem;
    border: none;
}